# Gradle
.gradle/
build/
out/

# IntelliJ
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
*.local
application-local.yml
application-local.yaml


# Frontend
kewe-ui/node_modules/
kewe-ui/dist/
